h1, h2, h3{
  text-align: center;
}


.no-underline {
  text-decoration: none;
}

.btn, .btn-group {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  position: relative;
}


.btn-outline-primary,.btn-success, .btn-info{
  transform: scale(0.8); /* Ajusta el valor para cambiar el tamaño del checkbox */
  width: 400px;
  font-size: 25px; /* Ajusta el tamaño de fuente deseado */
}

.btn-danger {
  font-size: 25px; /* Ajusta el tamaño de fuente deseado */
}


.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 10vh;
}


.form-container form {
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
