{% extends "layout_fijo.html"%}

{% block title %}Acerca de nosotros{% endblock %}


{% block content %}
<h1>Acerca de Nosotros</h1>
<p>El filtro para daltónicos pretende ser una herramienta que permita al usuario modificar archivos que le sean difíciles del leer dada esta afección.</p>
<p>Para poder utilizarlo, simplemente se debe ingresar el archivo y 
    elegir los parámetros que más se acomoden a la persona. Con esto, 
    se ejecturá un algoritmo que transformará el archivo original y se dará la opción de descargarlo una vez modificado. A continuación se muestra la arquitectura de este servicio web:</p>
<center>
    <img src="{{ user_image }}" alt="User Image" width="40%" height="40%">
</center>


<form action="/" method="GET">
    <button type="submit" class="btn btn-info">Quiero intentarlo!</button>
</form>

{% endblock %}
