{% extends "layout.html" %}

{% block content %}
<h1>Home</h1>
<!-- Con este form, se redirige a /result -->
<form class ="grid" action="/result" method="post">
    <center>
        {% if name_5 %}
        <h3 style="color: blue;"> El doble es {{name_5}}</h3>
        {% elif name_5 == "" %}
        <h3 style="color: blue;"> Jefe introduzca un número</h3>
        {% endif %}
    </center>

    <label for="text_box"> Ingrese un n&uacute;mero:</label>
    <input type="text" name="name_1" id = "text_box">
    <center><input type="submit" class="file_submit"></center>
</form>
{% endblock %}

